textarea {
    min-height: 400px;
    min-width: 400px;
}

.row{
    border: 2px solid black;
}
.btn-outline-dark {
    margin-right: 40px; /* Adjust as necessary */
    white-space: nowrap; /* Prevents button text from wrapping */
  }